.details {
    padding: 20px;

    h2 {
        color: blue
    }

}

.currentWeatherTemperatureCards {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.forcastCards {
    display: flex;
    flex-direction: row;
    gap: 10px;

    p {
        width: 150px;
    }
}